body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/gravel.png);
}

.container {
    background-color: #ffffff;
}

.jumbotron {
    background-color: #ffffff;
    height: 40px;
    border-bottom: 2px solid #666666;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 15px;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #666666;
    height: 30px;
    margin-bottom: 32px;
}

.navbar-brand {
    background-color: #4aaaa5;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: #ffffff;
    height: 100%;
}

.nav-link {
    border-right: 2px solid #666666;
}

.nav-link:hover {
    cursor: crosshair;
}

.nav-link:last-child {
    border-right: 0;
}

#main {
    background-color: #ffffff;
    border: 1px solid #dddddd; 
    width: 960px;
    margin: 60px auto 120px;
}

h1 {
    color: #4aaaa5;
}

hr {
    opacity: 0.8px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    width: 40px;
}


/*index.html specific*/

/*portfolio.html specific*/

img {
    width: 100%;
}

h2 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 16px;
    vertical-align: center;
    padding: 8px 0;
    bottom: 60px;
}

/*contacts.html specific*/

label {
}

input,
textarea {
    width: 100%;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
}